
/* 1. додайте клас до h1 і зробіть весь текст для класу заглавними літерами (text-transform: uppercase) */ 
h1 {
    text-transform: uppercase;
}



/* 2. придумайте назву класа для списку цілей і встановіть колір шрифту червоним у шістнадцятковому форматі */ 
.task-list {
    color:#ff0000;
}


/* 3. пунктам списку цілей за класом дайте колір заднього фону yellow і нахилений шрифт (font-style: italic)*/

.list__item {
    font-style: italic;
}

/* 4. для усіх впорядкованих списків задайте рамку 1px solid red */ 
 .file-list, .task-list {
    border:1px solid red;
 }

 /* 5. задайте id (ідентифікатор) для заголовку першого рівня і встановіть на нього колір шрифта green */
 #main-header, .file-list  a:nth-child(2) {
    color:green;
 }


 /* 6. для всіх посилань на PDF-документи втсановити стиль: колір зелений і font-style: italic */ 
.file-list  > li > * {
    color:green; 
    font-style:italic;
}

/* 7. для всіх посилань встановити колір шрифта violet та заберыть підкреслення (text-decoration: none). */
.file-list > li > a {
    color:violet;
    text-decoration: none;
}
/*Питання: чому PDF-файли вже не підкреслені але все ж лишились зелені?
    Тому що ми перевизначили попередні значення для властивостей.
    А колір шрифту не залишився зеленим, бо ми перевизначили його як і стиль шрифту.
*/

/* 8. Встановіть всі заглавні літери (text-transform: uppercase) для усіх вкладнених списків другого рівня*/
ul  > li > ul > li {
   text-transform: uppercase;
}

/* 9. для всіх посилань що знаходяться всередині абзаців встановити колір шрифта magenta і задній фон кольору mistyrose */
ol > li > a {
    color:magenta;
    background-color: mistyrose;
}

/* 10. створити клас bold який буде будь-який текст перетворювати на жирний і застосувати його: 1) до двох останіх   пунктів цілей 2) до першого довгого абзацу (той що під основним заголовком). 
  Питання: чому у нас одночасно і bold i italic? 
    бо italic це стиль, а bold це товщина шрифту.
*/
.bold {
    font-weight:bold;

}


/* 11. для всіх тегів li з класом bold встановити всі заглавні літери */
.bold li {
    text-transform: uppercase;
}



/* 12. другий довгий абзац і передостанній "Написати нам листа" вирійвняйте по правому краю, додайте синю рамку навколо та встановіть розмір шрифта 20px */ 
body p:nth-child(3), body .contact  {
    text-align: right;
    border:1px solid blue;
    font-size: 20px;
}


/* 13. на тег h1 встановіть колір шрифта червоний. Чому він не спрацює і що можна зробити щоб він спрацював?
    Не працює, бо ідентифікатор має більшу силу чим тег в css. Попередньо, я призначив ідентифікатор #main-header з властивістю color:green; елементу h1 на сторінці. Зараз, присвоєння нового значення властивості color для h1 через звертання до нього в css як до тегу, можливе але не дасть ніякого результату. Щоб це виправити, потрібно  в css для  ідентифікатора #main-header встановити інший колір, або знову його виписати і перевизначити колір з green на red.
*/
h1 {
     color:red; /* ніяк не спрацює */
}


/* 14. для всіх можливих селекторів встановіть властивість box-sizing: border-box (у DevTools перегляньте які CSS властивості у елементів активні і визначте чи успішно виконано завдання) */
#main-header, .bold, .task-list, .list__item, .file-list, .contact {
    box-sizing:border-box;
}



/* 15. зробіть так, щоб задній фон цілей був не на всю ширину сторінки бо це блочці елементи, а лише по довжині кожного з елементів (відповідь: огорнути текст у рядкові span-и застосувати background до них) */
.task-list  span  {
    background: yellow;
    max-width:fit-content;
    display: block;
}











